<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Please Register</h1>
    <form action="/create-user" method="post">
      <input type="text" name="email" placeholder="Please enter email" />
      <input
        type="password"
        name="password"
        placeholder="Please enter password"
      />
      <input type="submit" />
    </form>
    <hr />
    <h3>Login karo</h3>
    <form action="/login" method="post">
      <input type="text" name="email" placeholder="Please enter email" />
      <input
        type="password"
        name="password"
        placeholder="Please enter password"
      />
      <input type="submit" />
    </form>
  </body>
</html>
